/build/gocfl_darwin_amd64
/build/gocfl_darwin_arm64
/build/gocfl_linux_amd64
/build/gocfl_linux_arm64
/build/gocfl_windows_amd64.exe
/build/gocfl_windows_arm64.exe
/config/hek_gocfl.toml
/cmd/test/
go.work
go.work.sum
/data/temp/
dist/*
